body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  #main {
    width: 400px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  #game {
    width: 400px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: none;
  }